body {
    margin: 10px;
    padding: 10px;
    background: #3e0000;
    font-size: medium;
}

#main {
    margin: 30px 20px 25px 35.5px;
}



h1 {
    margin: 12px 0;
}

hr {
    margin: 0;
    border: none;
    width: 400px;
    height: 1px;
    opacity: 0.5;
    background: linear-gradient(to right,
            red 20%,
            yellow 20%,
            yellow 36%,
            green 36%,
            green 60%,
            blue 60%,
            blue 100%);
}

h2 {
    margin-bottom: 12px;
}

h3 {
    font-size: 1.6rem;
}

h3,
h4 {
    /* Swap the margin for a top-padding so linking to this section
     *     results in a better scroll position */
    padding-top: 20px;
    margin-top: 0;
    display: block;
    flex: 0 0 180px;
}

p {
    line-height: 1.5;
}

blockquote {
    margin: 0 0 20px;
    padding: 20px;
    background: #dfdfdf;
}

blockquote footer {
    margin: 12px 0 0 12px;
}


button.focused {
    outline: 1px dotted #000000;
    outline-offset: -4px;
}

button.active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

@media (max-width: 480px) {
    aside {
        display: none;
    }

    main {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 16px;
    }

    hr {
        width: 100%;
    }

    p {
        width: 100%;
    }

    h3,
    h4 {
        flex: 0;
    }

    .component {
        display: block;
        margin-top: 24px;
    }

    pre {
        overflow-x: scroll;
    }
}
