<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/98.css">
		<link rel="stylesheet" href="/assets/css/docs.css">
		<link rel="stylesheet" href="/assets/css/vs.css">
		<link rel="icon" href="/assets/imgs/favicon.ico">
		<title>{{ site.title }} - {{ page.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="application-name" content="{{ site.title }}">
		<meta name="author" content="{{ site.author }}" lang="en">
		<meta name="fediverse:creator" content="{{ site.fedi_acc }}">
	</head>

	<body>
	<header>
		<script src="https://keepandroidopen.org/banner.js?size=minimal&animation=off&link=https://keepandroidopen.org" id="android" defer></script>
		<div class="window">
			<div class="title-bar">
				<div class="title-bar-text">{{ site.title }}</div>
				<div class="title-bar-controls">
					<button aria-label="Close"></button>
				</div>
			</div>
			<div class="window-body">
				<audio src="/assets/mp3/reserved/click.mp3" id="nav_button" preload="auto"></audio>
				{% for page in site.data.pages.pages %}
				<a href="{{ page.url }}"><button onclick="playAudioOnClick()" class="button_link">{{ page.title
					}}</button></a>
				{% endfor %}
			</div>
		</div><br>
	</header>
	<main>
		<div class="window">

			<div class="window-body" id="main">
				{{ content }}
			</div>
		</div><br>
		<div class="window-body">
		</div>
	</main>
	<footer>
		<div class="footer">
			<div class="title-bar">
				<div class="title-bar-text" style="text-align: left;">&copy; {{ 'now' | date: "%Y" }}<a href="https://github.com/scudo005">
						{{ site.author }}
					</a>
					- Website code licensed under <a href="/CODE_LICENSE.txt">GPLv3</a>, content licensed under <a href="CONTENT_LICENSE.txt">CC BY-NC-SA 4.0</a>.&nbsp;Last updated on {{ 'now' | date: "%B %d, %Y @ %H:%M:%S" }} GMT.&nbsp;&nbsp;<a href="/feed.xml"><img src="/assets/imgs/inline/rss.png" alt="RSS feed" width="15" height="15"></a></div>
			</div>
		</div>
	</footer>
		<script src="/assets/js/playAudioOnClick.js" defer></script>
		<script src="/assets/js/hit.js" defer></script>
	</body>
</html>
